[submodule "tests/unit_tests/test_michelson/test_repl/tzt"]
	path = tests/unit_tests/test_michelson/test_repl/tzt
	url = https://gitlab.com/tezos/tzt-reference-test-suite.git
[submodule "hicdex-metadata"]
	path = hicdex-metadata
	url = git@github.com:hicdex/hicdex-metadata.git
[submodule "hicdex-graphiql"]
	path = hicdex-graphiql
	url = git@github.com:hicdex/hicdex-graphiql.git
